* {
  font-family: Roboto,Lato,sans-serif;
}
html,body,ul,ol {
  margin:0;
  padding: 0;
}
.markdown-body img{
  width: auto!important;
  max-width: 90%;
  height: auto;
  margin: 20px auto;
  padding: 5px;
  border: 1px dashed #e2e2e2;
  border-radius: 5px;
  display: block;
}
