@import './variables.scss';
* {
  font-family: Roboto,Lato,sans-serif;
  box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
  background-color: $background_color;
}

.markdown-body img{
  width: auto!important;
  max-width: 90%;
  height: auto;
  margin: 20px auto;
  padding: 5px;
  border: 1px dashed #e2e2e2;
  border-radius: 5px;
  display: block;
}

.mu-chip {
  user-select: none;
}