$primary_color: rgb(63, 81, 181);
$secondary_color: rgb(233, 30, 99);
$primary_text_color: rgba(0,0,0,.87);
$secondary_text_color: rgba(0,0,0,.54);
$disabled_text_color: rgba(0,0,0,.38);
$background_color: #FCE4EC;